<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=LAPTOP-JTTQ31OF\SQLEXPRESS;
			 Initial Catalog=FlightBooking;Integrated Security=True"
			 name="FlightBooking" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>