
@{
    ViewBag.Title = "CancelConfirm";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Canellation confirmed!</h2>
<h3>Your ticket has been cancelled successfully</h3>

<h4>Book another ticket</h4>
@Html.ActionLink("Book flight", "Index","User")

