
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>Booking Confirmation</h2>

<div class="panel panel-success">
    <div class="panel-heading">Payment Successful</div>
    <div class="panel-body">Congratulations, Your flight booking is confirmed</div>
</div>

<div>
    <h3>View or print your ticket</h3>
    @Html.ActionLink("Print Ticket","TicketView","Ticket")
</div>


